 /*
 Author: Khushbuben Rathva
 Date: 03 oct 2024
 File Name: styles.css
 */

  /* CSS Reset */
  body, header, nav, main, footer, img, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    }

    /* container element to set the width of the page and center the page  */
    .container{
        width:1280px;
        margin:0 auto;
    }

    header{
        background-color: #000;
        border-radius: 8px;

    }
    nav li a:hover {
        color: #000;
        background-color:#fff;
    }
    
    
 /* Style rules for body and images */


 body{
    background: #f6eee4;
 }
 img{
    /* max-width: 100%; */
    display: block;
    height: 400px;
    width:1280px;
 }

 nav{
    background-color: #2e3233;

 }
 nav ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
 }
 nav li{
    display: inline-block;
    font-size: 1.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
 }
 nav li a {
    display: block;
    color:#f6eee4;
    padding: 0.5em 2em 0.5em 2em;
    text-decoration: none;

 }
/*Style rules for main content */
main { 

    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
main p {
font-size: 1.25em;
}
main h3{
    padding-top: 2%;
}
main ul{
    list-style-type: square;
}
.link {

    color:#4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size : 1.75em;
    font-weight:bold;
    text-align: center;
}

#contact {
    text-align: center;
}

/* Style rules for footer content, */

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2e3233;
    color:#f6eee4;
    padding: 1% 0 0 1%;
}
footer a {
    text-decoration: none;
    color:#f3e6d8;
    
}

